[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyqt5 = "*"
gtts = "*"
playsound = "*"
pygobject = "*"
pedalboard = "*"
pydub = "*"

[dev-packages]
autopep8 = "*"
pycodestyle = "*"
pydocstyle = "*"
ipython = "*"
ipykernel = "*"

[requires]
python_version = "3.10"
